.col-lg-12 {
  margin: 0 auto;
  width: 100%;
}
#hienosaato {
    padding-top: 2vh;
}
#omapadding {
    padding-top: 3vh;
}
#kannykkaversio {
    line-height: 6vh;
}
#login {
    padding-top: 3vh;
}
#signup {
    font-size: 2vh;
}
.toppadsmall {
    padding-top: 1vh;
}
.toppadlarge {
    padding-top: 4vh;
}
.maxsize {
    max-height: 25vh;
}
.scalablelogintext {
    font-family: Cantarell;
    font-size: 3vh;
}
.scalableinput {
    width: 30vh;
    height: 3vh;
    font-family: Cantarell;
    font-size: 3vh;
}
.scalablebutton {
    width: 11vh;
    text-align: center;
}
.scalablelogin {
    width: 5vh;
    text-align: center;
}
.scalablesignup {
    width: 11vh;
    text-align: center;
}
body {
    line-height: 2vh;
    min-width: 100vh;
    max-height: 50vh; 
    background-image: url("maiadark.png");
    color: rgb(255,255,255);
}
form,legend {
    padding: 4vh;
    color: rgb(255,255,255);
}
.table table td {
    text-align: center;
    max-width: 6vh;
    color: rgb(255,255,255);
}
.list-unstyled {
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    color: rgb(255,255,255);
    max-height: 50vh;
    overflow: auto;
    list-style-type: none;
    line-height: 4vh;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
input[type=file],input[type=submit] {
    box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
    height: 4vh;
    margin: 2vh auto;
    font-size: 2vh;
    text-align: right;
    vertical-align: middle;
}
ul, table {
    font-family: Cantarell;
    font-size: 2vh;
    line-height: 2vh;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    max-height: 57vh;
    overflow: auto;
    list-style-type: none;
    }
.tab {
    padding-left:4em;
}
li,input{
    text-align: right;
}
.mui-panel {
  font-family: Cantarell;
  min-width: 100vh;
  min-height: 4vh;
}
.mui-appbar, .mui--text-display3 {
    padding-top: 1vh;
    font-family: Cantarell;
    font-size: 4vh;
    margin: 0 auto;
    min-height: 10vh;
    text-align: center;
}
#backtologin {
    position: fixed;
    right: 1vh;
    top: 3vh;
    margin: 0 auto;
    font-size: 2vh;
}
.logout {
    position: fixed;
    right: 1vh;
    top: 0vh;
    margin: 0 auto;
}
#padding {
    padding-top: 1vh;
}
#centerthis {
    text-align: center;
}
@media (min-width: 1921px) {
    body {
        line-height: 2vh;
        min-width: 100vh;
        background-image: url("maiadarkupscale.png");
        color: rgb(255,255,255); }
}
@media (min-height: 1081px) {
    body {
        line-height: 2vh;
        min-width: 100vh;
        background-image: url("maiadarkupscale.png");
        color: rgb(255,255,255); }
}
@media (min-height: 2161px) {
    body {
        line-height: 2vh;
        min-width: 100vh;
        background-image: url("maiadarkmegaupscale.jpg");
        color: rgb(255,255,255); }
}
@media (min-width: 3841px) {
    body {
        line-height: 2vh;
        min-width: 100vh;
        background-image: url("maiadarkmegaupscale.jpg");
        color: rgb(255,255,255); }
}
@media (max-width: 1025px) {
    body{
    background-image: url("maiadarkupscale.png");
    min-height: 1000px;
    
    }
}
@media (max-width: 768px) {
    .mui-appbar, .mui--text-display3 {
    padding-top: 1vh;
    font-family: Cantarell;
    font-size: 2vh;
    margin: 0 auto;
    min-height: 10vh;
    text-align: center;
}
  body {
    line-height: 2vh;
    min-width: 50vh;
    background-image: url("maiadark.png");
    color: rgb(255,255,255);
  }
  #listat {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 180px;
    min-height: 12vh;
    padding-top: 60px;
  }
  .list-unstyled {
      position: fixed;
      left: 0px;
      top: 600px;
      min-height: 6vh;
  }
  ul,p {
      text-align: left;
  }
  ul, table {
      text-align: left;
  }
  #hienosaato {
      text-align: center;
  }
  #kannykkaversio {
      display: none;
  }
  #centerthis {
    text-align: center;
}
  .mui-textfield {
      position: fixed;
        top: 35vh;
        right: 1vh;
  }
}
